{% extends "base.html" %}

{% block title %}<title>Taxi Service Home</title>{% endblock %}

{% block content %}
  <h1>Welcome to Best Taxi Ever!</h1>
  <p>Here is the current status of our taxi service database:</p>

  <table class="table table-bordered table-striped w-50">
    <thead class="thead-dark">
      <tr>
        <th>Record Type</th>
        <th>Count</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Cars</td>
        <td>{{ num_cars }}</td>
      </tr>
      <tr>
        <td>Drivers</td>
        <td>{{ num_drivers }}</td>
      </tr>
      <tr>
        <td>Manufacturers</td>
        <td>{{ num_manufacturers }}</td>
      </tr>
    </tbody>
  </table>
{% endblock %}
